<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>A List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64DF686B1C76E9E400A22EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64DF68821C76E9E500A22EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64DF688D1C76E9E500A22EB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
